{% extends 'core/core.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row mb-5 pt-5">
            <div class="col">
                <h3 class="text-primary mb-3">Panneau entrée algeco</h3>

                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                    <h4 class="mt-5 mb-3">Personnalisation</h4>

                    <div class="mb-4">
                        {{ form_row(form.aisleNumber) }}
                    </div>

                    <div class="mb-4">
                        {{ form_row(form.dir) }}
                    </div>

                    <h5 class="mt-5 mb-3">Familles</h5>

                    <div class="mb-4">
                        {{ form_row(form.quantity)}}
                    </div>

                    {% include 'order/sign/_edit_save.html.twig' %}

                {{ form_end(form) }}
            </div>
            <div class="col">
                <div>
                    {% include 'order/sign/materialAlgeco/template.html.twig' with
                        {
                            'id': 'material-algeco',
                            'scale': 'medium',
                            'dir': 'l',
                            'aisle_number': '204',
                        }
                    %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('materialAlgecoSignEdit') }}
{% endblock %}
