<div id="{{ id }}" class="material-algeco {{ scale }} dir-{{ dir }} {% if class is defined %}{{ class }}{% endif %}">
    <div class="aisle-number-container">
        {{ aisle_number }}
    </div>
</div>
